/* Scrolling animation */
@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.image-slider {
  display: flex;
  animation: scroll 90s linear infinite; /* Smooth and continuous scrolling */
}
.team-image-slider {
  display: flex;
  animation: scroll 130s linear infinite; /* Smooth and continuous scrolling */
}

@media (max-width: 768px) {
  .image-slider h1 {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .image-slider h1 {
    font-size: 1rem; /* Further adjust for mobile screens */
  }
}
::-webkit-scrollbar {
  display: none;
}

.scrollGradient{
  mask-image:linear-gradient(to right, 
  rgba(0,0,0,0),
  rgba(0,0,0,1) 20%,
  rgba(0,0,0,1) 80%,
  rgba(0,0,0,0)
)}