/* Scrolling animation */
@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.image-slider {
  display: flex;
  animation: scroll 60s linear infinite; /* Smooth and continuous scrolling */
}
.team-image-slider {
  display: flex;
  animation: scroll 130s linear infinite; /* Smooth and continuous scrolling */
}

@media (max-width: 768px) {
  .image-slider h1 {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .image-slider h1 {
    font-size: 1rem; /* Further adjust for mobile screens */
  }
}
::-webkit-scrollbar {
  display: none;
}