/* Add this CSS in your styles.css file */

.image-slider {
    animation: scroll 40s linear infinite;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(100%); /* Start from beyond the right */
    }
    100% {
      transform: translateX(-100%); /* Move all the way to the left */
    }
  }
  